# Configurações do Banco de Dados
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sistemadocuab

# Segurança (JWT)
SECRET_KEY=sua_chave_secreta_aqui_gerada_aleatoriamente
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Configurações da Aplicação
DEBUG=True
PROJECT_NAME="Sistema DocUAB"
